@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #01001B;
  color: white;

} */

.dark-stroke {
  -webkit-text-stroke: 1px black;
}

.light-stroke {
  -webkit-text-stroke: 1px white;
}

/* .text-glow {
  animation: flicker 0.5s infinite alternate;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
} */

/* @keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
} */

/*========== Scrollbar ==========*/


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(173, 182, 191);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888892; 
}

