@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: theme('colors.light');
  --dark: theme('colors.dark');
  --dark-2: theme('colors.dark-2');
  --neon-pink: theme('colors.neon-pink');
  --neon-blue: theme('colors.neon-blue');
  --neon-yellow: theme('colors.neon-yellow');
  --neon-green: theme('colors.neon-green');
}

* {
  scroll-behavior: smooth;
}

.neon-stroke {
  -webkit-text-stroke: 0px var(--dark-2);
}

.dark .neon-stroke {
  -webkit-text-stroke: 1.5px var(--neon-pink);
    
}

.dark .text-glow {
  animation: flicker 0.5s infinite alternate;
  text-shadow:
      0 0 150px var(--neon-pink),
      0 0 6px var(--dark),
      0 0 50px var(--dark),
      0 0 4px var(--neon-pink),
      0 0 8px var(--neon-pink);
}

/*========== Marquee ==========*/

.marquee-animate {
  animation: scroll 8s linear infinite;
}

@keyframes scroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}

/*========== Custom Cursor ==========*/

.cursor {
  width: 20px;
  height: 20px;
  background-color: var(--neon-yellow); /* Background color of the cursor */
  border: 4px solid var(--neon-yellow);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  animation: glow 1s ease infinite alternate; /* Add a glowing animation */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 80px rgb(226, 226, 226);
  }
}

/*========== Scrollbar ==========*/

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3e43;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555a; 
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--light); 
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--dark);
}

