@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-track-light: #F6FDFF; /* Light mode scrollbar track color */
  --scrollbar-track-dark: theme('backgroundColor.dark'); /* Dark mode scrollbar track color */
}

* {
  scroll-behavior: smooth;
}

body {
  cursor: none;
}

.neon-stroke {
  -webkit-text-stroke: 1px theme('backgroundColor.dark');
}

.dark .neon-stroke {
  -webkit-text-stroke: 1px theme('colors.neon-pink');
    
}

/* .light-stroke {
  -webkit-text-stroke: 1px white !important;
} */

/* .text-glow {
  animation: flicker 0.5s infinite alternate;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px theme('colors.neon-pink'),
      0 0 82px theme('colors.neon-pink'),
      0 0 92px theme('colors.neon-pink'),
      0 0 102px theme('colors.neon-pink'),
      0 0 151px theme('colors.neon-pink');
} */

/*========== Marquee ==========*/

.marquee-animate {
  animation: scroll 8s linear infinite;
}

@keyframes scroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}

/*========== Custom Cursor ==========*/

.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff; /* Background color of the cursor */
  border: 4px solid #fff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference; /* Optional blend mode for the glowing effect */
  animation: glow 1s ease infinite alternate; /* Add a glowing animation */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 80px rgb(226, 226, 226);
  }
}

/*========== Scrollbar ==========*/

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3e43;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555a; 
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-light); 
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-dark);
}

